<div class="col-md-4 offset-md-4 mt-5">
    <h4>Please Login!!</h4>
        <form action="">
                <div class="form-group">
                    <label for="email">Label</label>
                    <input type="email" name="email" id="email" class="form-control">
                </div>
            
                <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" class="form-control">
                </div>
            
                <div class="btn-group float-right">
                    <button type="reset" class="btn btn-outline-dark">Reset</button>
                    <button type="submit" class="btn btn-outline-primary">Submit</button>
                </div>
            </form>
</div>