<div class="container mt-5">
    <div class="card shadow  col col-xs-5 col-sm-5 col-md-5 col-lg-5 offset-md-3 mt-5">
        <div class="card-body">
            <h4 class="text-center text-primary">Feel Free to Contact us </h4>
            <h6>Email ID:</h6>
            <p class="offset-md-2">sumedh16sep@gmail.com</p>
            <p class="offset-md-2">rajushrivastav@gmail.com</p>
            <h6>Phone Number:</h6>
            <p class="offset-md-2">+91-6023405601</p>
            <p class="offset-md-2">+91-9876545799</p>
        </div>
    </div>
</div>