<div class="col-md-4 offset-md-4 mt-5 mb-3">
    <div class="card card-body">
        <form #updatePasswordForm='ngForm' (ngSubmit)="update(updatePasswordForm)">
            <fieldset>
                <legend>Update Password!!!</legend>
                <div class="alert alert-danger" *ngIf="error">
                    {{error}}
                </div>
                <div class="alert alert-success" *ngIf="message">
                    {{message}}
                </div>
                <div class="form-group">
                    <label for="userId">Enter UserId </label>
                    <input type="number" name="userId" #userId='ngModel' ngModel required userId class="form-control"
                        placeholder="Enter UserId">
                    <div *ngIf='userId.touched && userId.invalid'>
                        <p class="alert alert-primary" *ngIf='userId.errors.required'>This field is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Enter password you want to update</label>
                    <input type="password" name="password" #password='ngModel' ngModel required minlength="8" pasword
                        class="form-control" placeholder="Enter Password">
                    <div *ngIf='password.touched && password.invalid'>
                        <p class="alert alert-primary" *ngIf='password.errors.required'>This field is required</p>
                        <p class="alert alert-danger" *ngIf='password.errors.minlength'> Minimum length must be 8</p>
                    </div>
                </div>
                <div class="btn-group col-md-12">
                    <button type="reset" class="btn btn-outline-dark">Reset</button>
                    <button type="submit" class="btn btn-outline-primary" [disabled]='updatePasswordForm.invalid'>
                        Update Password
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
</div>