<div class="container mt-5 card-group  ">

  <div class="card-deck">


    <div class="card card-body float-left mr-0">
      <img src="https://cdn.pixabay.com/photo/2017/11/09/01/49/ferrari-458-spider-2932191__340.jpg" class="card-img-top"
        alt="">
      <h5 class="card-title">Ferrari</h5>
      <p class="card-text">The Ferrari 812 Superfast, replacement for the F12berlinetta, is one of the few exotic cars
        still equipped with a V12. The front-mounted 6.5L engine produces 800 horsepower and 530 lb. ft of torque and
        barely weighs 1600 kilos.</p>
    </div>


    <div class="card card-body float-left ml-0 mr-0">
      <img src="https://cdn.pixabay.com/photo/2012/05/29/00/43/car-49278__340.jpg" class="card-img-top" alt="...">
      <h5 class="card-title">Bugatti</h5>
      <p class="card-text">The Bugatti La Voiture Noire is a one-off supercar based on the Chiron. Unveiled at the 2019
        Geneva Motor Show, it joins the Divo as a derivative from the already famous Chiron hypercar.</p>
    </div>


    <div class="card card-body float-left ml-0">
      <img src="https://cdn.pixabay.com/photo/2016/07/09/21/47/car-1506922__340.jpg" class="card-img-top" alt="...">
      <h5 class="card-title">Mercedes Benz</h5>
      <p class="card-text">The Mercedes-Benz E-Class has 2 Diesel Engine and 2 Petrol Engine on offer. ... Depending
        upon
        the variant and fuel type the E-Class has a mileage of 10.98 to 18.0 kmpl.</p>
    </div>

  </div>

</div>