<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/car">Cars</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/bike">Bikes</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/movie">Movies</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/laptop">Laptops</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/mobile">Mobile</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/product">Product</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/eventbinding">EventBinding</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/employee">Employee</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/addemployee">Add-Employee</a>
            </li>
        </ul>
    </div>
</nav>