<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="10000">
            <img src="https://cdn.pixabay.com/photo/2018/09/13/02/17/pills-3673645_960_720.jpg" class="d-block w-100" alt="Medical">
          </div>
          <div class="carousel-item" data-interval="1000">
            <img src="https://cdn.pixabay.com/photo/2016/11/23/15/03/close-up-1853400_960_720.jpg" class="d-block w-100" alt="Medical">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>