<div class="col-md-4 offset-md-4 mt-5 card card-body">
    <h4>Please Register</h4>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Name</span>
        </div>
        <input type="name" name="name" id="name" class="form-control">
    </div>

    <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Email</span>
            </div>
            <input type="email" name="email" id="email" class="form-control">
        </div>

        <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Password</span>
                </div>
                <input type="password" name="password" id="password" class="form-control">
        </div>
        <div class="btn-group float-right">
                <button type="submit" class="btn btn-outline-primary">Register</button>
            </div>

    
</div>