<div class="col-md-3 float-left">
    <a routerLink="bike">
        <img src="https://cdn.pixabay.com/photo/2017/12/28/16/18/bicycle-3045580__340.jpg" alt="Bike" width=100%>
    </a>

    <a routerLink="car">
        <img src="https://cdn.pixabay.com/photo/2019/07/07/14/03/fiat-4322521__340.jpg" alt="Car" width=100%>
    </a>

    <a routerLink="plane">
        <img src="https://cdn.pixabay.com/photo/2013/08/06/19/13/plane-170272__340.jpg" alt="Plane" width=100%>
    </a>

</div>
<router-outlet></router-outlet>