<div class="container mt-5">
    <div class="alert alert-danger" *ngIf="error">
        {{error}}
    </div>
    <div class="alert alert-success" *ngIf="send">
        {{send}}
    </div>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Product Price</th>
                <th>Quantity</th>
                <th>Status</th>
                <th>Add to Cart</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let medicine of medicines'>
                <td>{{medicine.productId}}</td>
                <td>{{medicine.productName}}</td>
                <td>{{medicine.productPrice}}</td>
                <td>{{medicine.quantity}}</td>
                <td>{{medicine.status}}</td>
                <td>
                    <button type="submit" class="btn btn-primary" (click)='AddCart(medicine)'>
                        Add Cart
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>