<div class="col-md-6 offset-md-3 mt-5">
    <h4 class="border-bottom mb-3">Please Register!!!</h4>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Name</span>
        </div>
        <input type="text" aria-label="First name" name="name" placeholder="First Name" class="form-control">
        <input type="text" aria-label="Last name" name="name" placeholder="Last Name" class="form-control">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Email</span>
        </div>
        <input type="email" name="email" id="email" class="form-control" placeholder="Enter email address">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">DOB</span>
        </div>
        <input type="text" name="DATE" class="form-control" placeholder="dd-mm-yyyy">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Password</span>
        </div>
        <input type="password" name="password" class="form-control" placeholder="Enter password">
    </div>

    <div class="btn-group float-right">
        <button type="reset" class="btn btn-outline-dark">Reset</button>
        <button type="register" class="btn btn-outline-primary">Register</button>
    </div>


</div>